#!/usr/bin/make -f
export QT_SELECT=5
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ 

override_dh_builddeb:
	# Temporary workaround for https://github.com/smira/aptly/issues/655
	dh_builddeb -- -Zgzip
